.comment {
    padding-inline: 1em;

    border-top: thin solid var(--border-clr-100);
    border-bottom: thin solid var(--border-clr-100);
    background-color: var(--main-clr-200);
}

.comment .author {
    color: var(--text-clr-weak);
}

.comment .body {
    margin: 0 0 1em;
    word-wrap: break-word;
}

.post-stats {
    display: grid;
    place-items: start;
    margin-bottom: 1em;

    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr;
}

.reply-count, .ups-count {
    display: grid;
    place-items: center;
}

.replies {
    display: none;
    margin-left: .5rem;
}

.comment.expanded > .replies {
    display: unset;
}

@media only screen and (width > 800px){
    .comments-container {
        max-width: 820px;
        margin-inline: auto;
    }
}